<div class="grid_16 footer">
    <a href="$portalPath/terms">Terms of Use</a>
    <a href="mailto:researchdata@jcu.edu.au?Subject=[ResearchData] ">Contact us at: researchdata@jcu.edu.au</a>
</div>
<div class="clear"></div>
