<div class="grid_16 branding">
    <div id="jcu-logo">
        <a href="http://www.jcu.edu.au"><img height="85" src="http://www.jcu.edu.au/public/groups/everyone/documents/webgraphics/jcu_new_logo.gif" /></a>
    </div>
	<div id="tdh-logo">
    	<img src="$portalPath/images/tdh_black_full_logo.png" />
	</div>
	<h1 id="branding">
    	<a href="$portalPath/home">Research Data</a>
	</h1>
</div>
<div class="clear"></div>
