<div class="grid_16 branding">
    <div id="jcu-logo">
        <a href="http://www.jcu.edu.au"><img height="85" src="$portalPath/images/jcu_logo_web.gif" /></a>
    </div>
	<div id="tdh-logo">
    	<img src="$portalPath/images/tdh_black_full_logo.png" />
	</div>
	<h1 id="branding">
        #if($urlBase == "https://research.jcu.edu.au/researchdata/")
             <a href="$portalPath/home">Research Data</a>
        #else
            <a href="$portalPath/home"> Research Data - Sandbox</a>
        #end
	</h1>
</div>
<div class="clear"></div>
