#macro(displayPerson $key $name)
    <dt>$name</dt>
    <dd>
    	#set($title = $metadata.get("$key:title"))
		#set($givenName = $metadata.get("$key:givenName"))
		#set($familyName = $metadata.get("$key:familyName"))
		#set($email = $metadata.get("$key:email"))
    #if ($familyName || $givenName)
    	$page.escapeHtml($!title) $page.escapeHtml($!givenName) $page.escapeHtml($!familyName) $page.escapeHtml($!email)
    #else	
        #noInformation()
    </dd>
    #end
#end

#macro(missing $value)
<i>{missing: "$value" }</i>
#end

#macro(displayKey $map $key $required)
#set ($value = $map.get($key))
#if ("$!value" != "")
$value
#else
    #if ($required)
#missing($key)
    #end
#end
#end

#macro(displayOptionalKey $map $key)
#displayKey($map $key false)
#end

#macro(displayRequiredKey $map $key)
#displayKey($map $key true)
#end

#sectionHeading("#displayMessage('jcu-self-submission.heading.lable.people')")
<div class="meta">
    <dl>

    <dt>#displayMessage('jcu-self-submission.field.label.dc-creator.foaf-person')</dt>
    #set($personList = $self.getList("dc:creator.foaf:Person"))
    #if ($personList.isEmpty())
    <dd>
    #noInformation()
    </dd>
    #else
    <dd>
        <ol>
        #foreach($key in $personList.keySet())
            #set($person = $personList.get($key))
            <li>
                #displayOptionalKey($person "foaf:title")
                #displayRequiredKey($person "foaf:givenName")
                #displayRequiredKey($person "foaf:familyName")
                #displayOptionalKey($person "foaf:email")
            </li>
        #end
        </ol>
    </dd>
    #end
    
    #displayPerson("locrel:prc.foaf:Person.foaf" "#displayMessage('jcu-self-submission.field.label.locrel-prc.foaf-person')")
    #displayArrayList("#displayMessage('jcu-self-submission.field.label.dc-contributor.locrel-clb.foaf-Agent')" "dc:contributor.locrel:clb" "foaf:Agent")
    </dl>
</div>
